body {
    background-image: url('src/assets/backgound.png');
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    height: 100vh; /* Make sure the body takes up the full viewport height */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
  }